$headerHeight: 52px;

.header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #ddd;
  background: #fff;
  z-index: 9999;

  .category-popup {
    background-color: #141329;
    color: #ffffff;
    padding: 20px 50px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;
    display: none;

    &.active {
      visibility: visible;
      opacity: 1;
      display: block;
    }
    .category-menu {
      .list-menu {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        .item-menu {
          width: calc(100% / 6);
          margin-right: 0;
          margin-bottom: 20px;
          line-height: 26px;

          a {
            font-size: 16px;
            color: #ddd;
            font-weight: 700;
          }
          .subcate {
            font-size: 13px;
            font-weight: 400;
            color: #c7c7c7;
          }
        }
      }
    }
  }
}

.page-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;

  .title-header{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    p.title-slash {
      padding-left: 20px;
      &:before{
        content: '';
        height: 16px;
        position: absolute;
        width: 5px;
        left: 5px;
        top: 2px;
        bottom: 2px;
        -webkit-transform: skew(-20deg);
        -khtml-transform: skew(-20deg);
        transform: skew(-20deg);
        background-color: #dd3333;
    
      }
    }
  }

  .container-header {
    height: $headerHeight;
    display: flex;

    .logo {
      width: 100px;
      height: 100%;
      img {
        object-fit: cover;
      }
      display: flex;
      flex-direction: column;
      span {
        text-align: center;
        font-size: 8px;
        text-transform: uppercase;
        font-weight: 700;
        white-space: nowrap;
        &::after {
          display: block;
          font-size: 7px;
          color: #888;
          content: "HỘI XUẤN BẢN VIỆT NAM";
        }
      }
    }
    .category-menu {
      line-height: $headerHeight;
      flex-grow: 1;
      .header-category-menu {
        display: flex;
        li {
          font-size: 14px;
          font-weight: bold;
          margin-left: 15px;
          position: relative;
          a {
            color: #444444;
            &:hover {
              color: #04b2f7;
              &::after {
                background-color: #04b2f7;
              }
            }

            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 3px;
              background-color: transparent;
              position: absolute;
              bottom: 0;
              left: 0;
            }
          }

          &:last-child {
            cursor: pointer;
          }
        }

      }
    }

    .toolbox {
      display: flex;
      align-items: center;
      justify-content: center;
      .search-form {
        cursor: pointer;
        i {
          font-size: 25px;
        }
        .input-search {
          position: absolute;
          width: 250px;
          height: 34px;
          border-radius: 6px;
          background-color: #444444;
          padding-left: 15px;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }
      }
      .avatar {
        padding: 0 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }
      }
    }
  }

  &.corona {
    padding-top: 53px;
  }

  .corona-weather {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 0;
    .corona {
      border: 1px solid #f00;
      border-radius: 6px;
      color: #000000;
      text-transform: uppercase;
      display: flex;
      line-height: 21px;
      height: 21px;
      strong {
        background-color: #f00;
        color: #ffffff;
        border: 1px solid #f00;
        padding: 0 10px;
      }
      .corona-country {
        padding: 0 10px;
        border-right: 1px solid #f00;
      }

      .corona-status-info {
        padding: 0 10px;
        font-weight: 100;
        .corona-status-info-item {
          padding: 0px 10px;
        }
      }
    }
    .weather {
      flex-grow: 1;
      text-align: right;
      font-size: 14px;
      .city {
        align-items: center;
        justify-content: flex-end;
        display: flex;
        span {
          padding: 0 10px;
          font-weight: 100;
        }
      }
      .sun {
        height: 30px;
        width: 30px;
      }
    }
  }

  .featured {
    margin-bottom: 20px;
    line-height: 1.4;
    display: flex;
    // .content {
      .newstrending {
        width: 30%;
        display: flex;
        flex-direction: column;
        font-size: 14.4px;
        font-weight: 700;
        // float: left;
        padding-right: 15px;
        .newstrending-item {
          padding-bottom: 15px;
          &:not(:first-child) {
            padding-top: 15px;
          }
          border-bottom: 1px solid #e4e4e4;
          .newstrending-image {
            width: 120px;
            float: left;
            margin-right: 12px;
          }
          &:hover {
            color: #006BA0;
          }
        }
      }

      .newsfeatured {
        width: 70%;
        // float: right;
        display: flex;
        .newsfeatured-container {
          display: flex;
          .newsfeatured-item-right{
            font-size: 16px;
            font-weight: 700;
            width: 33%;
          }
          .newsfeatured-item {

            &:not(:last-child) {
              padding-bottom: 15px;
            }

            &.main-item {
              width: 66%;
              margin-bottom: 0;
              margin-right: 20px;

              p {
                font-size: 32px;
                font-weight: 700;
              }
            }

            .newsfeatured-image {
              width: 100%;
              img {
                width: 100%;
              }
            }

          }
        }
      }
    // }
  }

  .book{
    position: relative;
    margin-bottom: 30px;
    .book-header{
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      p.title-slash {
        padding-left: 20px;
        &:before{
          content: '';
          height: 16px;
          position: absolute;
          width: 5px;
          left: 5px;
          top: 2px;
          bottom: 2px;
          -webkit-transform: skew(-20deg);
          -khtml-transform: skew(-20deg);
          transform: skew(-20deg);
          background-color: #dd3333;
      
        }
      }
    }
    .book-content {
      overflow: hidden;
      position: relative;
      .book-content-slide{
        display: flex;
        position: relative;
        .book-content-item{
          min-width: calc(100% / 5 - 20px);
          margin-right: 20px;
          background-color: #f8f8f8;
        }
      }
    } 
    .book-arrows{
      .btn-book-arrows{
        outline: none;
        border: 0;
        background-color: transparent;
        margin: 0;

        width: 45px;
        height: 45px;
        border-radius: 50%;
        position: absolute;
        top: 60%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);

        cursor: pointer;
        &.book-arrows-left{
          left: -5%;
        }
        &.book-arrows-right{
          right: -5%;
        }

        i{
          font-size: 35px;
        }
      }
    }
  }


  .multimedia {
    position: relative;
    //&:before{
    //  content: "";
    //  display: block;
    //  position: absolute;
    //  top: -30px;
    //  left: -30px;
    //  right: -30px;
    //  bottom: -30px;
    //  //background: #ffde76;
    //}

    background-color: #ffde76;
    .multimedia-header {
      display: flex;
      padding: 20px 0;
      font-weight: 700;
      .multimedia-menu {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 14px;
        .multimedia-item {
          padding: 0 30px;
          &:hover {
            color: red;
          }
        }
      }
    }
    .multimedia-content {
      .multimedia-content-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        font-weight: 500;
        .multimedia-content-item {
          margin-bottom: 20px;
          margin-right: 2%;
          height: 100%;
          width: 23.5%;
          position: relative;
          &:first-child {
            width: 49%;
          }
          &:nth-child(3), &:last-child {
            margin-right: 0%;
          }
          &:hover {
            color: #04b2f7;
            cursor: pointer;
          }
          .multimedia-content-item-title {
            i {
              padding-right: 5px;
            }
          }
          span {
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #323751 100%);
            display: flex;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;

            &:after {
              content: 'Gãy xương ngón tay, áo trắng Võ Thành An chấp nhận bỏ cuộc';
              position: absolute;
              top: 80%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 32px;
              color: #fff;
              width: 100%;
              margin-left: 20px;
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .latest{
    .latest-content{
      display: flex;
      .latest-content-list{
        width: 70%;
        .latest-content-item{
          display: flex;

          .latest-content-item-img{
            margin-right: 15px;
            margin-bottom: 15px;
            width: 33%;
            min-width: 33%;
          }
          .latest-content-item-content-title{
            font-size: 21px;
            font-weight: 700;
            margin-bottom: 7px;
          }
          .latest-content-item-content-meta{
            text-transform: uppercase;
            font-size: 11px;
            margin-bottom: 7px;

            .time{
              color: rgb(170, 170, 170);
              padding-right: 5px;
            }
          }
          .latest-content-item-content-description{
            font-size: 13px;
            color: rgb(136, 136, 136);
          }
        }
      }
      .latest-content-advertisement{
        width: 300px;
        margin-left: 20px;
      }
    }
  }

  .entertainment{
    margin-bottom: 30px;
    .entertainment-content-list{
      display: flex;
      flex-wrap: wrap;

      .entertainment-content-item{
        width: 23.5%;
        margin-right: 2%;
        
        &:nth-child(4n) {
          margin-right: 0;
        }
        .entertainment-content-item-list{
          .entertainment-content-item-list-item{
            margin-bottom: 15px;
            padding-bottom: 5px;
            &:not(:last-child) {
              border-bottom: 1px solid #efefef;
            }
            &:not(:first-child) {
              display: flex;
              .entertainment-content-item-list-item-img{
                margin-right: 8px;
                min-width: 33%;
              }
              .entertainment-content-item-list-item-title{
                font-size: 13.44px;
              }
            }
           
            .entertainment-content-item-list-item-title{
              font-size: 17px;
              font-weight: 700;
              line-height: 1.4em;
            }
          }
        }

      }
    }
  }

  .video{
    margin-bottom: 30px;
    .video-content{
      display: flex;
      background-color: #eee;
      .video-player{
        // width: 69%;
        flex-grow: 1;
        margin-right: 1%;
      }

      .video-content-list{
        width: 300px;
        height: 465px;
        overflow: auto;
        .video-content-list-item{
          display: flex;
          margin-top: 10px;
        
          .video-content-list-item-img{
            width: 100%;
            margin-right: 8px;
            position: relative;
            .time-video{
              i{
                background: #0076bf;
                padding: 3px;
              }
              font-size: 12px;
              position: absolute;
              bottom: 4px;
              left: 1px;
              color: #fff;
              background-color: rgba(117,117,117,0.8);
            }
          }
          .video-content-list-item-title{
            font-size: 13.44px;
            font-weight: 600;
          }
        }
      }
    }
  }
}




footer{
  background-color: #f7f7f7;

  .page-wrapper{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #888;
    line-height: 1.5em;

    .left-side-info{
      display: flex;
      .logo{
        width: 100px;
        margin-right: 30px;
        height: 100%;
      }
    }
    .copyright-info{
      .menu-footer{
        span:nth-child(2) {
          border-right: 1px solid #888;
          border-left: 1px solid #888;
        }
        span{
          padding:0 10px;
        }
      }
    }
  }
}